<h1>Forget your password already ?</h1>

<form method="POST" action="/forgetPassword?_method=PUT">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control" id="email" placeholder="Please enter your email!">
    </div>

    <div class="form-group">
        <label for="password">Updated Password</label>
        <input type="text" name="updatedPassword" class="form-control" id="updatedPassword" placeholder="Enter your new password!">
    </div>
    <p>
        <button type="submit">Change Password</button>
    </p>
</form>