<form action="/login" method="post">
    <div class="form-group">
        <div>
            <label for="login">Email</label>
            <input type="text" name="username" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="login">Password</label>
            <input type="text" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class='text-right'>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>

    <a href="/forgetPassword">Forgot Password</a>
</form>